### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
vendor/

### Node
node_modules/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/themes/themosis-theme/
/htdocs/content/uploads/
/htdocs/content/upgrade/

### Core Theme
/htdocs/content/themes/theme/dist/

### Environment Credentials
.env
.env.*
!.env.local


### Oxboot Rules
/htdocs/content/plugins/*
!/htdocs/content/plugins/.gitkeep

### Query Monitor Plugin Rules
htdocs/content/db.php
mix-manifest.json
